@use "../abstracts/index" as *;

.navbar {
  width: 100%;
  display: flex;
  @include align(flex, center, space-between, auto);
  border-bottom: 2px solid #303030;
  padding: 4px 8px;
  &__image {
    width: 130px;
    @include responsive(large) {
      width: 130px;
    }
    @include responsive(medium) {
      width: 130px;
    }
    @include responsive(small) {
      width: 100px;
    }
    @include responsive(xsmall) {
      width: 100px;
    }
  }
}
